:root {
  --cp-White: white;
  --cp-White20: rgba(116, 116, 116, 0.2);
  --cp-White40: rgba(120, 120, 120, 0.4);
  --cp-Black: rgb(25, 25, 25);
  --cp-Black60: rgb(25, 25, 25, 0.6);
  --cp-GreyLight: rgb(63, 63, 63);
  --cp-GreyLighter: rgb(86, 86, 86);
}
body {
  background: var(--cp-Black);
  font-family: arial;
  margin: 0;
  padding: 0;
}
#panel {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.25rem;
  margin-bottom: 0rem;
  border-radius: 1rem;
  padding: 1.5rem;
  min-width: 400px;
  background: var(--cp-GreyLight);
  box-shadow: 0rem 0.2rem 0.5rem black;
  gap: 1rem;
  z-index: 2;
}
#instruments {
  flex: 1;
}
#colors {
  background: var(--cp-Black);
  border-radius: 0.75rem;
  height: fit-content;
  box-shadow: 0rem 0.1rem 0.25rem black;
  display: flex;
}
.visuals {
  background: var(--cp-GreyLighter);
  flex: 1;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.25rem black;
}
#mainColor {
  height: 5rem;
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
#compColor {
  width: 5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.sliderContainer {
  display: flex;
  margin: 0.5rem;
}
input[type="range"] {
  outline: none;
  flex: 2;
  min-width: 15rem;
  accent-color: var(--cp-Black);
}

.labelLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  border-radius: 25%;
  font-weight: 700;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--cp-Black);
  background: var(--cp-White);
}
#rColorLabel,
#gColorLabel,
#bColorLabel,
#hColorLabel,
#sColorLabel,
#lColorLabel {
  color: var(--cp-White);
  text-align: end;
  width: 2rem;
}
.labelLetter {
  color: var(--cp-Black);
}
section {
  position: relative;

  margin-top: 1rem;
  margin-left: 1.5rem;
  background: var(--cp-GreyLighter);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.25rem black;
  filter: brightness(1.01);
}
section:hover {
  filter: brightness(1.05);
}
section:hover .copyButton {
}
.copyButton {
  position: absolute;
  color: var(--cp-Black);
  background: var(--cp-White);
  border: none;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  transform: rotate(270deg);
  left: -2.9rem;
  top: 2rem;
  width: 4rem;
  font-weight: 1000;
  padding: 0.25rem;
}
.copyButton:hover {
  padding-bottom: 0.75rem;
  left: -3.1rem;
  top: 1.75rem;
}
.hex,
.hexComp {
  color: var(--cp-Black);
  position: relative;
  top: 0.25rem;
  background: var(--cp-White);
  padding: 0.1rem 0.2rem;
  font-weight: 700;
  border-radius: 0.25rem;
}
.pHex {
  color: var(--cp-Black);
  margin-bottom: 0.25rem;
  background: var(--cp-White);
  padding: 0.1rem 0.2rem;
  font-weight: 700;
  border-radius: 0.25rem;
}

#tooltip {
  position: absolute;
  color: var(--cp-Black);
  background: var(--cp-White);
  border: none;
  border-radius: 1rem;
  left: 2rem;
  top: -0.75rem;

  font-weight: 700;
  padding: 0.25rem 1rem;
}
#theme {
  position: absolute;
  color: var(--cp-Black);
  background: var(--cp-White);
  border: none;
  border-radius: 0.75rem;
  right: 2rem;
  bottom: -0.75rem;
  width: 4rem;
  font-weight: 700;
  padding: 0.25rem;
  outline: 0.3rem solid var(--cp-GreyLight);
  box-shadow: 0rem 0.2rem 0.5rem black;
}

#theme:hover {
  padding: 0.3rem;
  border-radius: 2rem;
  width: 4.3rem;
  right: 1.85rem;
  bottom: -0.775rem;
}
#genPalette {
  position: absolute;
  color: var(--cp-Black);
  background: var(--cp-White);
  border: none;
  border-radius: 0.75rem;
  left: 2rem;
  bottom: -0.75rem;
  width: 7rem;
  font-weight: 700;
  padding: 0.25rem;
  outline: 0.3rem solid var(--cp-GreyLight);
  box-shadow: 0rem 0.2rem 0.5rem black;
}
#genPalette:hover {
  padding: 0.3rem;
  border-radius: 2rem;
  width: 7.3rem;
  left: 1.85rem;
  bottom: -0.775rem;
}
#paletteType {
  position: absolute;
  color: var(--cp-Black);
  background: var(--cp-White);
  border: none;
  border-radius: 0.75rem;
  left: 11rem;
  bottom: -0.75rem;
  font-weight: 700;
  padding: 0.25rem;
  outline: 0.3rem solid var(--cp-GreyLight);
  box-shadow: 0rem 0.2rem 0.5rem black;
}
#paletteType:hover {
  padding: 0.3rem;
  border-radius: 2rem;
  left: 10.95rem;
  bottom: -0.775rem;
}
.hueCircleBase {
  position: relative;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.3rem;
  border-color: var(--cp-Black);
}
.hue {
  display: inline-block;
  height: 0.2rem;
  width: 1rem;
  transform-origin: top left;
}
.hue:hover {
  width: 1.5rem;
  height: 0.4rem;
  border: 0.1rem solid var(--cp-White);
  z-index: 2;
}
.paletteBig {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-width: 420px;
  height: 10rem;
  background: tomato;
  box-shadow: 0rem 0.2rem 0.5rem black;
}
.mainP {
  height: auto;
  flex: 1;
  background: white;
}
.secondP {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  background: white;
}
.thirdP {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  background: white;
}
.fourthP {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  background: white;
}
@media (max-width: 1000px) {
  #panel {
    flex-wrap: wrap;
    color: hsl(0, 100%, 50%);
  }
}
